<h1>Signup to start reviewing classic rock albums!</h1>

<form action="/users/signup" method="POST">
    <label>
        First Name <input type="text" name="first_name" placeholder="Enter your first name"/>
    </label>
    <label>
        Last Name <input type="text" name="last_name" placeholder="Enter your last name"/>
    </label>
    <label>
        Email <input type="email" name="user_email" placeholder="Enter your email address"/>
    </label>
    <label>
        Password <input type="password" name="user_password" placeholder="Create password"/>
    </label>
    <button type="submit">Register</button>
</form>